html {
    background: #b19cd9;
}

.App {
    display: flex;
}

.click {
    width: 300px;
    background: white;
    font-size: 40px;
    margin: 100px auto;
    padding: 10px;
    cursor: pointer;
}
.click:hover {
  /* opacity: 0.3;*/
  /*  background: palegreen;*/
  transform: scale(2); /* Equal to scaleX(2) scaleY(2) */
  transition-duration: 0.5s;
  /* transform: scale(0.6);*/
}
